@font-face {
    font-family: 'acf_flex_fold';
    src:    url('../font/acf_flex_fold.eot?f4lfft');
    src:    url('../font/acf_flex_fold.eot?f4lfft#iefix') format('embedded-opentype'),
        url('../font/acf_flex_fold.ttf?f4lfft') format('truetype'),
        url('../font/acf_flex_fold.woff?f4lfft') format('woff'),
        url('../font/acf_flex_fold.svg?f4lfft#acf_flex_fold') format('svg');
    font-weight: normal;
    font-style: normal;
}

.acf-icon:before {
	font-family: "acf_flex_fold"!important;
	font-style: normal;
	font-weight: normal;
	speak: none;
	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	text-align: center;
	/* For safety - reset parent styles, that can break glyph codes*/
	font-variant: normal;
	text-transform: none;
	/* fix buttons height, for twitter bootstrap */
	line-height: 1em;
	/* Font smoothing. That was taken from TWBS */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	/* more consistent vertical align */
	position: relative;
}

/* add */
.acf-icon.-plus:before {
	content: "\e800";
}

/* delete */
.acf-icon.-minus:before {
	content: '\e801';
}

/* collapse arrow-down*/
.acf-icon.-collapse:before {
	content: "\e810";
	top: -1px;
}

/* collapse arrow-up */
.-collapsed .acf-icon.-collapse:before {
	content: "\e80f";
	top: 1px;
}

/* sort */
.acf-icon.-duplicate:before {
	content: "\e80e";
}

/* duplicate */
.acf-icon.-duplicate:before {
	content: "\e900";
}

.acf-icon.flex {
	width: 20px;
	height: 20px;
	line-height: 22px;
	font-size: 14px;
}

.acf-field p.description .acf-fl-actions {
	display: block;
}

.acf-fl-actions a {
	display: inline-block;
	line-height: 20px;
	padding: 0;
	font-size: 13px;
	margin: 0 2px 2px 0;
}

.-collapsed .acf-input {
	padding: 15px 12px 0 12px !important;
}